* {
    --whitest: white;
    --lightest: #f9f4f7;
    --lighter2: #e4ceda;
    --lighter: #cfa8be;
    --light: #ba82a1;
    --dark: #73405c;
    --darker: #4d2b3e;
    --darkest: #271620;
    --blackest: black;

    --background: white;
    --form_background: white;
    --disabled_form_background: #e9ecef;
    --fontcolor: black;
}

@media (prefers-color-scheme: dark) {
    * {
        --whitest: black;
        --lightest: #2a2a2a;
        --lighter2: #333333;
        --lighter: #464646;
        --light: #555555;
        --dark: #666666;
        --darker: #7a7a7a;
        --darkest: #808080;
        --blackest: white;

        --background: rgb(20, 20, 20);
        --form_background: #262626;
        --disabled_form_background: #555;
        --fontcolor: rgb(255, 205, 113);
    }
}