* {
	--transition: .25s;
	--mediumlimit: 1300px;
	/* transition: .15s; */
}

.grid_container > div {
	background: rgba(22, 100, 132, 0.3);
	text-align: center;
	/* padding: 20px 20px; */
	/* gap: 10px; */
	font-size: 20px;
}


/*PAGE*/
	#grid_container_page {
		transition: var(--transition);
	}

	.grid_container_page_nav_minimized {
		margin-left: 0;
	}

	.grid_container_page_nav_maximized {
		margin-left: 300px;
	}

	#grid_container_nav { 
		position:fixed;
		left:0;
		top:0; 
		overflow: hidden;
		border: 1px solid black;
		transition: var(--transition);
	}

	.grid_container_nav_maximized {
		width:300px;
		height:100%;
	}

	.grid_container_nav_minimized {
		width:50px;
		height:50px;
	}

	#grid_container_content {
		transition: var(--transition);
	}

	.grid_container_content_f_max {
		margin-right: 300px;
	}

	.grid_container_content_f_min {
		margin-right: 0;
	}
/*EO PAGE*/

/*CONTENT*/
	.grid_container_feed { 
		grid-area: grid_container_feed;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1300px));
		grid-template-rows: repeat(auto-fill);
		justify-content:center;
		grid-gap:40px;
		transition: var(--transition);
		}

	#grid_container_filters_bar {
		position:fixed;
		right:0;
		top:0;
		transition: var(--transition);
	}

	.grid_container_filters_bar_max { 
		width:300px;
		height:100%;
	}

	.grid_container_filters_bar_min { 
		width:50px;
		height:50px;
	}
/*EO CONTENT*/

/*FEED*/

	.grid_container_card {
		grid-area: grid_container_card;
		display: grid;
		gap: 5px;
	}

	.grid_container_card_large { 
		grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
		grid-template-areas:
			'pic 		    header			header'
			'pic 		    desc 			desc'
			'pic 		    cat 			cat'
			'pic 		    details1        details2'
			'thumbs_read 	thumbs_read 	thumbs_read';
		}

	.grid_container_card_medium_large { 
		grid-template-rows: 1fr 3fr 1fr 3fr 3fr 1fr;
		grid-template-areas:
			'pic 		    header			header'
			'pic 		    desc 			desc'
			'pic 		    cat 			cat'
			'pic 		    details1        details1'
			'pic 		    details2        details2'
			'thumbs_read 	thumbs_read 	thumbs_read';
		}

	.grid_container_card_medium_small {
		grid-template-rows: 1fr 6fr 1fr 3fr 1fr 3fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'header 		header'
			'pic 		    pic'
			'thumbs_read	thumbs_read'
			'desc			desc'
			'cat            cat'
			'details1 	    details2';
	}

	.grid_container_card_small {
		grid-template-rows: 1fr 6fr 1fr 1fr 1fr 3fr 3fr;
		grid-template-areas:
			'header'
			'pic'
			'thumbs_read'
			'desc'
			'cat'
			'details1'
			'details2';
			}
/*EO FEED*/

/*CARD*/
	.header {
		grid-area: header;
		display: grid;
		grid-template-areas:
			'title user';
	}
	.pic { grid-area: pic; 
		min-width:300px;
		min-height:300px;}
	.desc { grid-area: desc; }
	.cat {grid-area: cat; }

	.details_wrapper_wide { 
		grid-area: details;
		display: grid;
		grid-template-areas:
			'details1 details2';
		}

	.details_wrapper_stacked {
		grid-area: details;
		display: grid;
		grid-template-areas:
			'details1'
			'details2';
			}

	.title { grid-area: title; }
	.user { grid-area: user; }

	.details1 { grid-area: details1; }
	.details2 { grid-area: details2; }

	.thumbs_read { 
		grid-area: thumbs_read;
		display: grid;
		grid-template-columns: 4fr 1fr;
		grid-template-areas:
			'thumbnails call_to_action';

		}
	.thumbnails { grid-area: thumbnails; }
	.call_to_action { grid-area: call_to_action; }

	.pic_small { grid-area: pic; 
		min-width:200px;
		min-height:200px;}

	.thumbs_read_small {
		grid-template-areas:
			'thumbnails'
			'call_to_action';
			}
/*EO CARD*/









/* @media only screen and (min-width: 1300px) {

	#grid_container_page {
		margin-left: 300px;
	}

} */

/* @media only screen and (max-width: 1300px) {

	#grid_container_page {
		margin-left: 0;
	}

} 

@media only screen and (max-width: 1000px) {

	#grid_container_content {
		margin-right: 0;
	}
}

 */




/*EO MEDIA screens*/