.bc-lightest {
    background-color: var(--lightest);
}

.bc-lighter2 {
    background-color: var(--lighter2);
}

.bc-lighter {
    background-color: var(--lighter);
}

.bc-light {
    background-color: var(--light);
}

.bc-dark {
    background-color: var(--dark);
}

.bc-darker {
    background-color: var(--darker);
}

.bc-darkest {
    background-color: var(--darkest);
}

.bct {
    background-color: transparent;
}

// Font coloring

.c-lightest {
    color: var(--lightest);
}

.c-lighter2 {
    color: var(--lighter2);
}

.c-lighter {
    color: var(--lighter);
}

.c-light {
    color: var(--light);
}

.c-dark {
    color: var(--dark);
}

.c-darker {
    color: var(--darker);
}

.c-darkest {
    color: var(--darkest);
}

.ct {
    color: transparent;
}